/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
}

.sliderContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.slideContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.slide {
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: opacity 0,3s linear, visibility 0.3 linear;
    background-color: red;
    color: white;
}

.slideContent {
    font-size: 1.8em;
    margin-bottom: 5px;
    line-height: 1em;
}

.slideContent p {
    font-size: .9em;
    color:rgba(255,255,255,.7);
}

.bgc {
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    opacity: 0.9;
    z-index: 1;
}

.slide01 .bgc {
    background-image: url("../img/img_slide01.jpg");
}

.slide02 .bgc {
    background-image: url("../img/img_slide01.jpg");
}

.slide03 .bgc {
    background-image: url("../img/img_slide01.jpg");
}

.slide04 .bgc {
    background-image: url("../img/img_slide01.jpg");
}

.slide04 .slideContent h1 {
    color: #222;
}

.slide04 .slideContent p {
    color: rgba(0,0,0,.7);
}


@media only screen and (min-width: 35em) {
    .slideContent {
    font-size: 2.75em;
    margin-bottom: 5px;
    line-height: 1em;
}

.slideContent p {
    font-size: 1.8em;
}


}

